<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web LAB KIIT" />
    <meta name="keywords" content="HTML WEB LAB FORMS" />
    <meta name="author" content="Sayan Nath" />
    <title>QnA</title>
</head>
<body>
    <h1>QnA</h1>
    <form action="success.html">
        <label for="fname">What's your pet name?</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">What's your favourite place?</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="fname">What's your nickname?</label>
        <input type="text" id="nickName" name="nickName"><br><br>
        <label for="lname">What's your favourite programming language?</label>
        <input type="text" id="pLanguage" name="pLanguage"><br><br>
        <label for="fname">What's your mother tounge?</label>
        <input type="text" id="mTounge" name="mTounge"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>