<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web LAB KIIT" />
    <meta name="keywords" content="HTML WEB LAB FORMS" />
    <meta name="author" content="Sayan Nath" />
    <title>Success</title>
    <style>
        .btn-group button {
          background-color: #102d8a; 
          border: 1px solid #FFFFFF; 
          color: white;
          padding: 10px 36px; 
          cursor: pointer; 
          float: left; 
        }
        .btn-group button:hover {
          background-color: #2a4bb6;
        }
    </style>
  </head>
  <body>
    <h2>Your Form was successfully submitted.</h2>
    <div class="btn-group">
        <a href="about.html"><button>About Me!</button></a>
    </div>
  </body>
</html>
